<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <!-- GENERAL -->
  	<category label="$LOCALIZE[128]">
	    <setting label="30010" type="lsep" />
	    <setting label="30011" type="text" id="catalog_refresh_rate" default="18000" />
	    <setting label="30020" type="lsep" />
	    <setting label="30021" type="enum" id="server" lvalues="30022|30023|30024" default="2" />
	</category>

    <!-- ADVANCED -->
  	<category label="30040">
	    <setting label="30030" type="lsep" />
	    <setting label="30031" type="bool" id="debug" default="false" />
	    <setting type="sep" />
	    <setting label="30050" type="lsep"/>
    	<setting label="30041" type="bool" id="autoplatform"  default="false" />
	    <setting label="30042" type="lsep"/>
    	<setting label="30043" type="enum" id="ostype"  lvalues="30045|30046|30047|30048|30049" enable="eq(-2,true)" default="0" />
    	<!--
    	<setting label="30051" type="enum" id="cputype" lvalues="30052|30053" enable="(eq(-3,true)) + (eq(-1,0) | eq(-1,1) | eq(-1,3))" default="0" />
    	-->
    	<setting label="30051" type="enum" id="cputype" lvalues="30052|30053" enable="eq(-3,true)" default="0" />

	</category>
    
    
</settings>
